/* Variables globales*/
:root {
    --main-font: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    --monospace-font: 'Monaco', monospace;
}
/* Declaración de fuente principal */
body {
    font-family:  var(--main-font);
    color: var(--color-black);
}