code {
    font-family: var(--monospace-font);
}

.main {
    --main-margin-vertical: 4rem;
    width: min(90%, 63rem);
    margin: var(--main-margin-vertical) auto;

    .subtext {
        margin-bottom: 1rem;
        font-size: 1.3rem;
        code{
            color: var(--color-emphasis);
        }
    }
}

.nav {
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin-right: 0.75rem;

            a {
                text-decoration: none;
                color: var(--color-primary);

                &:hover {
                    text-decoration: underline;
                }

                @media screen and (min-width: 1024px) {
                    color: hsl(12, 100%, 50%);
                }
            }
        }
    }
}

.header {
    text-align: center;

    h1 {
        color: var(--color-emphasis);

        @media screen and (min-width: 1024px) {
            color: green;
        }
    }
}

.section {
    &-cta {
        margin: 1.5rem 0;
        display: flex;
        justify-content: center;
    }
}