.btn{
    padding: 0.8rem 0.3rem;
    min-width: 12rem;
    border: none;
    border-radius: 50px;
    font-family: var(--main-font);
    font-size: 1rem;
    cursor: pointer;
    &--main {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}